<div id="content" class="yui3-u-17-24">
	<div id="conversations">
		<%= render :partial => 'partials/conversation', :collection => @conversations %>
	</div>
</div>
<div id="sidebar" class="yui3-u-7-24">
</div>