<div id="content" class="yui3-u-17-24">
	<%= render Tweet.new %>
	<div id="tweets">
		<%= render :partial => 'partials/tweet', :collection => @school.tweets.find(:all,:include => [:location, :comments]) if @school.tweets_count %>
	</div>
</div>
<div id="sidebar" class="yui3-u-7-24">
</div>